  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  
  th{
    text-align: center;
    border: 5px solid blue;
    padding: 15px;
  }

  #head1 {
    background-color: rgb(176, 224, 230); 
  }
  
  #head2 {
    background-color: #ffdab9; 
  }
  
  #head3 {
    background-color: rgb(152, 251, 152);
  }
  
  #head4 {
    background-color: lavenderblush;
  }
  


  